* {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #363636;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 104px;
  padding-left: 34px;
  border-bottom: 1px solid #d4d4d4;
}

.line {
  height: 100%;
  width: 1px;
  background-color: #d4d4d4;
  margin-left: 34px;
}

.search-input {
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: center left;
  border: none;
  padding-left: 38px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-left: 34px;
}

.navigation {
  margin-right: 44px;
  margin-left: auto;
}

.navigation-link {
  text-decoration: none;
  font-size: 18px;
  line-height: 21px;
  color: #363636;
  margin-right: 18px;
}

.button-group {
  height: 100%;
  display: flex;
}

.button {
  height: 100%;
  cursor: pointer;
}

.sign-up {
  color: #5671f6;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background-color: #fff;
  padding-left: 34px;
  padding-right: 34px;
  border-left: 1px solid #d4d4d4;
}

.login {
  font-size: 18px;
  line-height: 21px;
  height: 100%;
  color: #ffffff;
  background-color: #5671f6;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}
.mobile-buttons {
  display: none;
}
.m-menu-button,
.search-button {
  padding: 5px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}
.menu-line {
  display: block;
  width: 16px;
  background-color: #000000;
  height: 2px;
  flex-basis: 16px;
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 40px;
}

.container {
  max-width: 1130px;
  margin: auto;
}

.film {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 1px solid #d4d4d4;
}

.film-wrapper {
  display: flex;
}

.film-trailer {
  display: flex;
  flex-direction: column;
  margin-right: 60px;
}

.poster {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 358px;
}

.trailer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d4d4d4;
  border-radius: 0px 0px 5px 5px;
  padding-bottom: 25px;
  padding-top: 25px;
  cursor: pointer;
}

/* .trailer-button-icon,
.trailer-button-text {
  vertical-align: middle;
} */
.trailer-button-icon {
  margin-right: 14px;
}

.film-title {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  margin-top: 0;
  margin-bottom: 16px;
}
.film-subtitle {
  display: block;
  font-size: 18px;
  line-height: 21px;
  color: #a5a5a5;
  margin-bottom: 32px;
}
.film-description {
  font-size: 14px;
  line-height: 150%;
  max-width: 514px;
  color: #000;
  margin-bottom: 50px;
}
.about-film {
  display: flex;
  margin-bottom: 50px;
}
.about-text {
  display: block;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 16px;
}
.about-text-bold {
  display: inline-block;
  width: 100px;
  vertical-align: top;
  font-weight: bold;
}
.left-side {
  margin-right: 40px;
}
.raiting {
  display: flex;
  align-items: center;
}
.raiting-counter {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #5671f6;
  box-sizing: border-box;
  border-radius: 10px;
  margin-right: 28px;
  color: #5671f6;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  /* padding-top: 34px;
  padding-bottom: 34px;
  padding-left: 24px;
  padding-right: 24px; */
}
.raiting-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0;
  margin-bottom: 12px;
}
.raiting-text {
  display: block;
  margin-bottom: 7px;
  font-size: 16px;
  line-height: 19px;
}
.raiting-text-bold {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.cast {
  padding-top: 70px;
  padding-bottom: 100px;
}
.tabs {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}
.section-title {
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #a5a5a5;
  margin-right: 30px;
}
.section-title.active {
  color: #363636;
  font-weight: 900;
}
.tabs-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  align-items: center;
  flex-basis: 25%;
  margin-bottom: 35px;
}
.card-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}
.name {
  margin-top: 0;
  color: #5671f6;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 6px;
}
.en-name {
  color: #a5a5a5;
}
.news {
  background: #f3f3f3;
  padding-top: 70px;
  padding-bottom: 100px;
}
.section-news-title {
  font-weight: 900;
  color: #000;
  padding-bottom: 65px;
}
.news-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.news-card {
  padding: 30px;
  flex-basis: 23%;
  background-color: #fff;
  border-radius: 5px;
}
.news-date {
  font-size: 14px;
  line-height: 16px;
}
.news-title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-top: 14px;
}
@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .card-image {
    width: 70px;
    height: 70px;
  }
  .header {
    height: 90px;
    padding-left: 20px;
  }
  .sign-up {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navigation {
    margin-right: 20px;
  }
  .navigation-link {
    margin-right: 10px;
    font-size: 16px;
  }
  /* .search-input {
    margin-left: 20px;
  } */
}
@media (max-width: 991px) {
  .container {
    max-width: 760px;
  }
  .navigation {
    display: none;
  }
  .search-input {
    margin-right: auto;
  }
  .film-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .film-subtitle {
    margin-bottom: 20px;
  }
  .film-description,
  .about-film {
    margin-bottom: 30px;
  }
  .about-text-bold {
    display: block;
    margin-bottom: 10px;
  }
  /* .sign-up {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
  }
  .login {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
  }
  .line {
    margin-left: 14px;
  }
  .navigation {
    margin-right: 5px;
    margin-left: 0;
  }
  .search-input {
    display: block;
    width: 215px;
    margin-left: 0;
    margin-right: 1px;
  } */
  .card-image {
    width: 100px;
    height: 100px;
  }
  .card {
    flex-basis: 50%;
  }
  .news-card {
    flex-basis: 48%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .header {
    height: 80px;
  }
  .container {
    max-width: 560px;
  }
  .film-wrapper {
    flex-wrap: wrap;
  }
  .film-text {
    order: -1;
    margin-bottom: 30px;
  }
  .film {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .cast {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .news {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .line {
    display: none;
  }
  .button-group {
    display: none;
  }
  .search-input {
    display: none;
  }
  .header {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .mobile-buttons {
    display: block;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%;
  }
  .film-trailer,
  .poster {
    width: 100%;
  }
  .film-title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
  }
  .film-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 26px;
  }
  .film-description {
    font-size: 14px;
    line-height: 150%;
    margin-bottom: 40px;
  }
  .about-film {
    flex-wrap: wrap;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .about-text-bold {
    display: inline-block;
  }
  .film-text {
    order: 1;
    margin-bottom: 0;
  }
  .film-trailer {
    margin-bottom: 30px;
  }

  .header {
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  .card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .card-image {
    width: 60px;
    height: 60px;
  }
  .tabs {
    margin-bottom: 35px;
  }
  .cast {
    padding-bottom: 50px;
  }
  .news-card {
    flex-basis: 100%;
  }
}
